* {
    border: 2px solid blue;
}
body {
    background-color:#737373 ;
    margin: 0;
}
#hero-img {
    width: 100%;
    padding: 0;
    border: 0;
}
.icon {
    border-radius: 100%;
    width: 22%;
    border: 10px solid #444444;
}
.box {
    display: inline;
    text-align: center;
    width: 33%;
}