.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
}
.greybox{
    z-index: -1;
    background-color: #888788;
    grid-column: 2/3;
    grid-row: 1/3
}
.title{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 200px;
    text-align: center;
    z-index: 2;
}
.subtitle{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 100px;
    color: #9C0E11;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: center;
    align-self: center
}
.image{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
}